---
import FriendLinkCard from "./FriendLinkCard.astro";
import { friendLinks } from "../../config/links";
import "../../style/components/content/app-panel-card.css";
---

{
  friendLinks.length > 0 && (
    <div class="friend-links-grid" aria-label="Friend links">
        {friendLinks.map((item) => <FriendLinkCard {...item} />)}
    </div>
  )
}
